@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "DM Serif Display", serif;
  font-family: "Karla", sans-serif;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90rem;
  margin: 0 auto;
  height: 10dvh;
  padding: 0 2rem;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  color: var(--Dark-Grayish-Violet);
}

#nav-links a {
  letter-spacing: 1.2px;
  color: var(--Dark-Grayish-Violet);
}

#nav-links a:hover {
  color: var(--Very-Dark-Violet);
}

#nav-links .btn-view-plans {
  color: var(--Dark-Violet);
  border: 2px solid var(--Dark-Violet);
  padding: 0.5rem 1.25rem;
}

#nav-links .btn-view-plans:hover {
  color: var(--Very-Light-Gray);
  background-color: var(--Very-Dark-Violet);
}

button {
  border: 0;
  outline: 0;
  background: none;
  border: 1px solid var(--Dark-Violet);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--Dark-Violet);
  transition: 0.3s ease-in-out;
}

.active {
  display: flex;
  flex-direction: column;
}
/* Mobile View */
@media screen and (max-width: 48rem) {
  #nav-wrapper {
    transform: translateY(-100dvh);
    transition: transform 3s ease-in-out;
    z-index: -1000;
  }

  #nav-wrapper.active {
    transform: translateY(0dvh);
    top: 10dvh;
    left: 0;
    padding-top: 3.375rem;
    background: var(--Very-Dark-Violet) url(./images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 90dvh;
    z-index: -10;
    position: fixed;
    width: 100%;
  }

  #nav-links {
    display: none;
    gap: 2.5rem;
  }

  #nav-links a {
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    color: var(--Very-Light-Gray);
  }

  #nav-links .btn-view-plans {
    display: block;
    color: var(--Very-Light-Gray);
    border: 2px solid var(--Very-Light-Gray);
    padding: 1rem;
    text-align: center;
  }

  #nav-links.active {
    display: flex;
  }

  #nav-links li:last-child {
    width: 100%;
    padding: 0 2rem;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    outline: 1px solid var(--Dark-Violet);
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
  }

  .bar {
    display: block;
    width: 1.5rem;
    height: 0.188rem;
    background-color: var(--Dark-Violet);
    transition: 0.3s ease-in-out;
  }

  .bar.active:nth-child(1) {
    transform: rotate(45deg) translate(5.5px, 6px);
  }

  .bar.active:nth-child(2) {
    opacity: 0;
  }

  .bar.active:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
  }
}
