@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  /* --Dark-Grayish-Violet: hsl(273, 4%, 51%); */
  --Dark-Grayish-Violet: hsl(278, 4%, 44%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "DM Serif Display", serif;
  font-family: "Karla", sans-serif;
  background: var(--Very-Light-Gray);
}

body.menu-open {
  overflow: hidden;
}

img {
  width: 100%;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  margin: 0 auto;
  height: 10dvh;
  padding: 0 2rem;
  text-transform: uppercase;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  max-width: 8rem;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  color: var(--Dark-Grayish-Violet);
}

#nav-links a {
  letter-spacing: 1.2px;
  color: var(--Dark-Grayish-Violet);
}

#nav-links a:hover {
  color: var(--Very-Dark-Violet);
}

#nav-links .btn-view-plans {
  color: var(--Dark-Violet);
  border: 2px solid var(--Dark-Violet);
  padding: 0.5rem 1.25rem;
}

#nav-links .btn-view-plans:hover {
  color: var(--Very-Light-Gray);
  background-color: var(--Very-Dark-Violet);
}

button {
  border: 0;
  outline: 0;
  background: none;
  border: 1px solid var(--Dark-Violet);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--Dark-Violet);
  transition: 0.3s ease-in-out;
}

.active {
  display: flex;
  flex-direction: column;
}

/* Hero Section */
.hero-outer-wrapper {
  background-color: var(--Dark-Violet);
  position: relative;
}

.hero-outer-wrapper::before {
  content: "";
  width: 60%;
  height: 60%;
  background: url(./images/bg-pattern-intro-left-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 36rem;
}

.hero-outer-wrapper::after {
  content: "";
  width: 30%;
  height: 100%;
  background: url(./images/bg-pattern-intro-right-desktop.svg);
  background-size: contain;
  background-position: right -10dvh;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0rem;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.hero-text-container {
  align-self: center;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.hero-image-container {
  justify-self: end;
  position: relative;
  top: 7rem;
}

.light-span {
  display: block;
  background-color: var(--Very-Light-Gray);
  width: 10rem;
  height: 1px;
}

h1 {
  font-size: 4.7rem;
  font-family: "DM Serif Display", serif;
  line-height: 1;
  color: var(--Very-Light-Gray);
}

p {
  color: var(--Very-Light-Gray);
  line-height: 1.8;
}

.btn-view-plans-light {
  color: var(--Very-Light-Gray);
  border: 2px solid var(--Very-Light-Gray);
  padding: 0.75rem;
  text-align: center;
  width: 25%;
  text-transform: uppercase;
}

.btn-view-plans-light:hover {
  color: var(--Dark-Violet);
  background-color: var(--Very-Light-Gray);
}

/* About Section - We're Different */
.about-section {
  max-width: 80rem;
  margin: 18rem auto;
  padding: 0 2rem;
}

.about-section span {
  font-family: "DM Serif Display", serif;
  font-size: 4.7rem;
  color: var(--Very-Dark-Violet);
}

.dark-span {
  display: block;
  background-color: var(--Grayish-Blue);
  width: 10rem;
  height: 1px;
  margin-bottom: 3rem;
}

/* Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card h2 {
  margin: 2.25rem 0 0.785rem 0;
}

.card p {
  color: var(--Dark-Grayish-Violet);
  width: 89%;
}

.card-icon {
  max-width: 5rem;
}

/* Mobile View */
@media screen and (max-width: 48rem) {
  nav {
    display: block;
    padding: 0;
  }
  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
    padding: 0 2rem;
    height: 10dvh;
    background-color: var(--Very-Light-Gray);
  }

  #nav-wrapper {
    transform: translateY(-100dvh);
    transition: transform 0.8s ease-in-out;
    z-index: -10;
  }

  #nav-wrapper.active {
    transform: translateY(0dvh);
    top: 10dvh;
    left: 0;
    padding-top: 3.375rem;
    background: var(--Very-Dark-Violet) url(./images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 90dvh;
    z-index: 100;
    position: fixed;
    width: 100%;
  }

  #nav-links {
    display: none;
    gap: 2.5rem;
  }

  #nav-links a {
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    color: var(--Very-Light-Gray);
  }

  #nav-links .btn-view-plans {
    display: block;
    color: var(--Very-Light-Gray);
    border: 2px solid var(--Very-Light-Gray);
    padding: 1rem;
    text-align: center;
  }

  #nav-links.active {
    display: flex;
  }

  #nav-links li:last-child {
    width: 100%;
    padding: 0 2rem;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    outline: 1px solid var(--Dark-Violet);
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
  }

  .bar {
    display: block;
    width: 1.5rem;
    height: 0.188rem;
    background-color: var(--Dark-Violet);
    transition: 0.3s ease-in-out;
  }

  .bar.active:nth-child(1) {
    transform: rotate(45deg) translate(5.5px, 6px);
  }

  .bar.active:nth-child(2) {
    opacity: 0;
  }

  .bar.active:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
  }

  /* Hero Section */

  .hero-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 80rem;
    padding: 0;
    margin: 0 auto;
  }

  .hero-outer-wrapper::before {
    display: none;
  }

  .hero-outer-wrapper::after {
    display: none;
  }

  .hero-text-container::before {
    content: "";
    width: 40%;
    height: 50%;
    background: url(./images/bg-pattern-intro-left-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0rem;
  }

  .hero-text-container::after {
    content: "";
    width: 30%;
    height: 100%;
    background: url(./images/bg-pattern-intro-right-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 22.5rem;
  }

  .hero-text-container {
    order: 2;
    align-self: center;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    text-align: center;
    padding: 5rem 2.5rem;
    position: relative;
  }

  .btn-view-plans-light {
    align-self: center;
    width: 50%;
  }

  h1 {
    font-size: 3rem;
  }

  .white-span {
    display: none;
  }

  .hero-image-container {
    order: 1;
    justify-self: auto;
    position: relative;
    top: 0rem;
  }

  /* About Section - We're Different */
  .about-section {
    margin: 10rem auto;
    text-align: center;
  }

  .about-section span {
    font-size: 3.2rem;
  }

  .dark-span {
    margin: 3rem auto;
  }

  /* Cards */
  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card {
    align-items: center;
    text-align: center;
  }

  .card p {
    width: 84%;
  }
}
